.timerContainer {
    display: flex;
    width: 30rem;
    height: 5rem;
    background-color: rgb(29, 28, 28);
    border-radius: 1rem;
    border-color: blue;
    border-width: 2px;
    border-style: solid;
    margin: 1rem auto;
    justify-content: space-evenly;
    align-items: center;
}

.timerBox {
    width: 4rem;
    height: 3rem;
    border-color: blue;
    border-width: 2px;
    border-style: solid;
    border-radius: 1rem;
    background-color: rgb(63, 57, 57);
    text-align: center;
    padding: 10px;
    color: rgb(211, 199, 199);
}

.buttonRow {
    width: 18rem;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
}

.button {
    border: black solid 2px;
    width: 8rem;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
}

.button:hover {
    background-color: rgb(73, 115, 250);
}

.pause {
    color: white;
    background-color: green;
}

.reset {
    color: black;
    background-color: red;
}